.container{
  padding-top:1%;
}
.active-cyan-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ac1d9e;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input[type=text] {
  border-bottom: 1px solid #0d3c77;
  box-shadow: 0 1px 0 0 #4abc16;
}
input{
  width: 100%;
}