/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=ABeeZee|Architects+Daughter|Handlee|Indie+Flower|Patrick+Hand|Special+Elite&display=swap');
@import './assets/bootstrap/dist/css/bootstrap.css';
@font-face {
    font-family: 'Handlee';
    src: url(./assets/fonts/Handlee/Handlee-Regular.ttf);
}
body{
    background-image: url(assets/images/images.jpeg);
    font-family: 'Handlee';
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}